.presentation {
  padding: 4rem 1rem;
  color: #2c2c2c;

  &__header {
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    @media (max-width: 576px) {
      font-size: 1.5rem; // Smaller font size on phones
    }
  }

  &__underline {
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: #2c2c2c;
    margin-bottom: 2rem;
  }

  &__content {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.6;

    // Responsive adjustments for tablet
    @media (max-width: 768px) {
      max-width: 600px; // Slightly narrower content for tablet devices
    }

    // Responsive adjustments for mobile
    @media (max-width: 480px) {
      max-width: 90%; // Use percentage-based width for mobile devices for better flexibility
      padding: 0 10px; // Add padding to avoid text touching the edges of the screen
    }
  }
}
