
.profile-section {
    position: relative;
    width: 100%;
    height: 100vh; 
    color: white;
    text-align: center;
    overflow: hidden; 
  }
  
  
  .profile-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
  }
  
  .profile-logo {
    
    margin-bottom: 20px; 
  }
  