.portfolio {
  padding: 4rem 0;
  text-align: center;

  &__underline,
  &__grid,
  &__item,
  &__image {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #2c2c2c;
  }

  &__underline {
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: #2c2c2c;

  }

  &__grid {
    display: grid;
    padding: 0 20rem;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 3rem;
    justify-content: center;
   
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
  &__item {
    cursor: pointer;
    max-width: 20rem;
    overflow: hidden;
    border-radius: 20px;
    background:linear-gradient(135deg, #E3E3E3 0%,#5D6874 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-style: double;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
   
  }

  &__image {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  &__modal-content {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 2rem;
    width: 60%;
    height: auto;
    max-width: 960px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
  }

  &__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background: none;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      color: #777;
    }
  }

  &__modal-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 2rem; 
  }

 

  &__modal-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    } 
 

  &__modal-img {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    margin-bottom: 1rem;
  }

  &__modal-technologies {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    
    li {
      background: #e1e1e1;
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;
      border-radius: 4px;
    }
  }

  &__modal-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
  }

  &__modal-description {
    margin-bottom: 2rem;
  }

  &__modal-visit {
    display: flex;
    color: #3a88f4;
    text-decoration: none;
    border-radius: 4px;
    padding: 5rem 1 rem;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}

@media (max-width: 900px) {
  .portfolio__grid {
    padding: 0 10rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .portfolio__grid {
    padding: 0 5rem;
    grid-template-columns: 1fr;
  }
}