// src/components/_Skills.scss
.skills {
    padding: 4rem 0;
    text-align: center;
  
  
    &__title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      color: #2c2c2c;
    }
  
    &__underline {
      display: inline-block;
      width: 100px;
      height: 4px;
      background-color: #2c2c2c;
      margin-bottom: 5rem;
    }
  
    

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      width: 100%;
      
    }

    &__item {
      width: 100%;
      margin-bottom: 1rem;
  
    

      .skills__logo{
        height: 2rem;
      }
  
      .skills__progress {
        display: inline-block;
        margin-left: 1.5rem;
        background-color: #ddd;
        width: 60%;
        margin-right: 5%;
        border-radius: 5px;
        overflow: hidden;
  
        .skills__progress-bar {
          height: 2rem;
          border-radius: 5px;
          width: 0; 
          transition: width 1s ease;
        }
      }
  
    }
  }
  .skill__total{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  