// src/components/_Skills.scss
.skills {
    padding: 4rem 0;
    text-align: center;
  
  
    &__title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      color: #c0c0c0;
    }
  
    &__underline {
      display: inline-block;
      width: 100px;
      height: 4px;
      background-color: #c0c0c0;
      margin-bottom: 2rem;
    }
  
    

    &__container {
      max-width: 800px;
      margin: 5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
    }
  
    img {
      .skills__image {
        height: 100%; 
        width: auto; 
      }
    }
   
    &__item {
      width: 100%;
      margin-bottom: 1rem;
  
      .skills__name {
        display: inline-block;
        width: 20%;
        text-align: left;
      }
  
      .skills__progress {
        display: inline-block;
        background-color: #ddd;
        width: 70%;
        margin-right: 5%;
        border-radius: 5px;
        overflow: hidden;
  
        .skills__progress-bar {
          height: 1rem;
          border-radius: 5px;
          background-color: #3498db; 
          width: 0; 
          transition: width 1s ease;
        }
      }
  
    }
  }
  .skill__total{
      display: flex;
      flex-direction: row;
      justify-content:left;
      align-items: flex-start;
    }
  