.skills{
  margin: 10rem 0rem;
}
.skills-container {
  .skills__header {
    text-align: center;

  }
 

  .skills__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    @media (max-width: 576px) {
      font-size: 1.5rem; // Smaller font size on phones
    }
  }

  .skills__underline {
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: #2c2c2c;
    margin-bottom: 4rem;
  }

  .skills-layout {
    display: flex;
    flex-wrap: wrap; // Allow items to wrap on smaller screens
    align-items: flex-start;

    .skills__image {
      flex: 1; // Take full width on small screens, adjusted below
      img {
        width: 100%;
        height: auto;
      }
    }

    .skills-layout__list {
      flex: 2; // Take remaining space, adjusted below
      display: flex;
      flex-direction: column;
      margin: 0 10%;

      .skills-layout__item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        .skills-layout__bar {
          flex: 2;
          position: relative;
          height: 2rem;
          background: rgba(17, 17, 17, .3);
          border-radius: 5px;
          overflow: hidden;

          .skills-layout__fill {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0; // Start with no width
            background-color: inherit; // Inherits the background color
            animation: animateSkill 2s forwards;

            .skills-layout__name,
            .skills-layout__level {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              color: white;
            
            }

            .skills-layout__name {
              left: 10px; // Padding from the left
            }

            .skills-layout__level {
              right: 10px; // Padding from the right
            }
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .skills-container {
    .skills-layout {
      flex-direction: column; // Stack the children vertically

      .skills__image,
      .skills-layout__list {
        flex: none; // Override any flex-grow, flex-shrink, and flex-basis properties
        width: 80%; // Take the full width of the container
        margin: 0 10%; // Adjust margin as needed
      }

      .skills__image {
        order: -1; // Ensures that the image is above the skill bars
        margin-bottom: 1rem; 
        width: 30%;
        margin-left: 35% ;
      }
    }
  }
}

@keyframes animateSkill {
  from {
    width: 0;
  }
  to {
    width: 100%; // Will grow to the full width of its container
  }
}
