.section {
  min-height: 100vh; /* 100% of the viewport height */
}


.contact {
  padding: 4rem 2rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 2rem; // Adjust font size for smaller devices
    margin-bottom: 0.5rem;
    color: #2c2c2c;

    @media (max-width: 576px) {
      font-size: 1.5rem; 
    }
  }

  &__underline {
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: #2c2c2c;
    margin-bottom: 2rem;
  }

  &__form {
    max-width: 600px;
    margin: 0 auto;

    @media (max-width: 576px) {
      max-width: 90%; // Use more of the screen on smaller devices
    }
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;

    @media (max-width: 576px) {
      font-size: 0.9rem; // Slightly smaller font size on phones
    }
  }

  &__textarea {
    height: 200px; 
    resize: vertical; 

    @media (max-width: 576px) {
      height: 150px; // Less height on smaller devices for better fit
    }
  }

  &__submit {
    padding: 1rem 2rem;
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }

    @media (max-width: 576px) {
      padding: 0.8rem 1.5rem; // Smaller padding on phones
      font-size: 0.9rem; // Smaller button text on phones
    }
  }
}
