.navbar {
  width: 100%;
  background: linear-gradient(315deg, #a3a3a3 0%, #ffffff 74%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: padding 0.3s ease; // Simplified to only necessary property
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;

  @media (max-width: 768px) {
    padding: 0.5rem;
    background: linear-gradient(315deg, #4d4855 0%, #000000 74%);

  }
}

.navbar__logo img {
  width: 60px; // Consistent with other elements

  @media (max-width: 768px) {
    width: 50px;
    border-color: #fff;
  }
}

.navbar__toggle {
  display: none; // Hidden by default
  cursor: pointer;
  font-size: 1rem;
  background: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  color: white;

  @media (max-width: 768px) {
    display: block;
  }
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  margin-right: 10%; 

  @media (max-width: 768px) {
    display: none;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 16px;
    border-radius: 5% 0 0 5%;

    background: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    transition: transform 0.3s ease;

    &.is-expanded {
      display: flex;
      transform: translateY(0);
      margin: 0;
    }
  }
  
}

.navbar__link,
.navbar__links div { 
  margin: 0 1rem;
  text-decoration: none;
  color: #515051;
  font-weight: bold;
  transition: color 0.3s ease; 
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover, 
  &.active {
    color: #fff;
    background: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    border-radius: 5px; 
  }

  @media (max-width: 768px) {
    margin: 0.5rem 0;
    color: #fff;
    width: 100%;
    text-align: center;
  }
}
