/* src/components/_Navbar.scss */
.navbar {
  width: 100%; // Ensure it spans the full width of the viewport
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1000; 


  &.is-after-vanta {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

.navbar__logo img {
 width: 50px;
 display:flex;

}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__link {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 0.5rem 1rem; // Padding for the black box effect
}

.navbar__link:hover,
.navbar__link.active { // Use the 'active' class to indicate the current section
  color: #fff;
  background-color: #000; // Black background on hover and when active
  border-radius: 5px; // Optional: rounded corners for the black box
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar__logo {
    margin-bottom: 1rem;
  }
}
