*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --section-spacing: 11rem;
  --section-color: black;
  @media (max-width: 768px) {
    :root {
      --section-spacing: 0rem; 
    }
  }
}

html {
  overflow-y: scroll; 
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  padding: 0;
  background-color: #686868; 
  background-image: linear-gradient(315deg, #686868 0%, #ffffff 74%); 
  font-family: 'Open Sans', sans-serif; 
  color: #333; 
  line-height: 1.6; 
}


.background {
  max-width: 1800px; 
  margin: auto; 
  padding: 0 20px; 

  @media (max-width: 768px) {
    padding: 0; 
  }
}
